.bg-black{
    background-color: #000;
}
.main-row{
    position: fixed;
}
.sidebar-mobile{
    display: none;
}

@media (max-width: 767px) {
    .sidebar-mobile{
        display: block;
    }
    .main-row{
       display: none;
    }
    .nav-item{
        border: 1px solid #fff;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }
}
