.top-border {
  border: 1px solid dark;
  animation-name: top;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes top {
  0% {
    border: 1px solid black;
  }
  25% {
    border: 1px solid yellow;
  }
  50% {
    border: 1px solid red;
  }
  100% {
    border: 1px solid blue;
  }
}

@media (max-width: 600px) {
  .contact-btn{
    display: none;
  }
}